Flask==0.10.1
Flask-SQLAlchemy==2.0
Jinja2==2.7.3
MarkupSafe==0.23
SQLAlchemy==0.9.8
Werkzeug==0.10.1
decorator==3.3.2
isodate==0.5.1
itsdangerous==0.24
negotiate==0.0.1
pyparsing==2.0.3
rdflib==4.1.2
git+https://github.com/RDFLib/rdflib-sqlalchemy.git#egg=rdflib-sqlalchemy
https://launchpad.net/oursql/py3k/py3k-0.9.4/+download/oursql-0.9.4.zip