{% extends "base.html" %}
{% block title %}Entry{% endblock  %}
{% block pagetitle %}{% if entry.name %}{{ entry.name }}{% else %}{{ site.title|upper }}{{ super() }}{% endif %}{% endblock %}

{% block main %}
<article class="h-entry">
  <div class="e-content">
    {{ entry.content|markdown|safe }}
  </div>
  <br /><br />
  <div class="entry-meta">
    <span class="pull-right"><small><a href="{{ url_for('core.get_entry', year=entry.created_at.year, month=entry.created_at.month, id=entry.id) }}" class="u-url">Created: <time class="dt-published" datetime="{{ entry.created_at.isoformat() }}">{{ entry.created_at  }}</time></a></small></span>
  </div>
</article>
<br />
<br />
<h3>Responses (0)</h3>
{% endblock %}
