<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>{% block title %}{% endblock %} | {{ site.title }}</title>

    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/harryreeder.css') }}">
    <link rel="stylesheet" type="text/css" href="//maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">

    <link rel="authorization_endpoint" href="https://indieauth.com/auth">
    <link rel="token_endpoint" href="https://tokens.indieauth.com/token">
    <link rel="micropub" href="{{ url_for('core.micropub_endpoint', _external=True) }}">

    <link rel="meta" type="text/turtle" title="FOAF" href="{{ url_for('core.foaf', _external=True) }}">
  </head>
  <body>
    <div class="container">
      <div id="head" class="row">
        <div class="col-md-8">
            <h1 class="title">
              {% block pagetitle %}<small>Indieweb Compatible</small>{% endblock %}
            </h1>
        </div>
        <div class="col-md-4">
          <nav class="navbar">
            <div class="navbar-header">
              <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#main-nav">
                <span>MENU</span>
	      </button>
            </div>
            <div class="navbar-collapse collapse navbar-responsive-collapse">
              <ul class="nav nav-pills navbar-nav navbar-right">
                <li{% if request.path == "/" %} class="active"{% endif %}><a href="/">HOME</a></li>
              </ul>
            </div>
          </nav>
        </div>
      </div>

      <div id="main-body">
        <div class="col-md-9">
          {% block main %}
          {% endblock %}
        </div>
        <div class="col-md-3">
          <div class="pull-right h-card">
            <img src="http://www.gravatar.com/avatar/882fea3f994a649328155e5ab2316b7f?s=200" alt="Harry Reeder" class="u-photo">
            <h4>About <a class="p-name u-url" href="http://harryreeder.co.uk/">Harry Reeder</a></h4>
            <div class="p-note">
            <p>I'm a software engineer, currently working for IBM UK, for my placement year, while studying Software Engineering at <a href="http://www.napier.ac.uk">Edinburgh Napier University</a>.</p>
            <p>With IBM, I currently work with the <a href="http://crystal-artemis.eu/">CRYSTAL Project</a>, and do a lot of work with <a href="http://open-services.net/">OSLC</a>.</p>
            <p>I love to code, and especially so in Python, at the moment. I've also had varying experience in PHP, .NET, C++, Ruby and Java. Some of these have been primarily through my university course, some of these have been projects which I have used to learn the language in my own time.</p>
            </div>
            <p>
              <a href="https://github.com/hreeder" rel="me"><i class="fa fa-4x fa-github-square"></i></a>
              <a href="https://bitbucket.org/hreeder" rel="me"><i class="fa fa-4x fa-bitbucket-square"></i></a>
              <a href="https://plus.google.com/+HarryReeder-tbrb" rel="me"><i class="fa fa-4x fa-google-plus-square"></i></a>
              <a href="https://twitter.com/harry_reeder" rel="me"><i class="fa fa-4x fa-twitter-square"></i></a>
            </p>
            <p>
              <a href="https://uk.linkedin.com/in/hreeder" rel="me"><i class="fa fa-4x fa-linkedin-square"></i></a>
              <a href="http://last.fm/user/thebigredbutton" rel="me"><i class="fa fa-4x fa-lastfm-square"></i></a>
              <a href="mailto:harry@harryreeder.co.uk" rel="me" class="u-email"><i class="fa fa-4x fa-envelope-square"></i></a>
          </div>
        </div>
      </div>
      <div class="clearfix"></div>
      <footer>
              <span><small>&copy;Harry Reeder 2014-2015</small></span>
	      <span class="pull-right">
                {% if current_user.is_anonymous() %}
                  <a href="{{ url_for('core.login') }}">Log In</a>
                {% else %}
		  Logged in as {{ current_user.domain }} {% if current_user.superuser %}&middot; <a href="{{ url_for('admin.index') }}">Admin</a> {% endif %}&middot; <a href="{{ url_for('core.logout') }}">Logout</a>
                {% endif %}
              </span>
      </footer>
    </div>
  </body>
</html>
